html {
    scroll-behavior: smooth;

}

li {
    font-size: 18px;
}

.navbar {
    background-color: #000000;
    opacity: 0.75;
}

.nav {
    opacity: 0.75;
}

#nav-pic {
    height: 75px;
}

.landing-page {
    margin-bottom: 150px;
}

.the-start {
    margin-top: 100px;
}

.landing-page {
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(images/background-landing.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.image-landing {
    width:300px;
    height:300px;
    border-radius: 50%;
    margin-bottom:30px;
}
.text-center {
    font-size: 64px;
}

.fa-arrow-down {
    font-size: 60px;
    position: absolute;
    bottom: 100px;
    color: white;
}

.image {
    height: 275px;
    width: 275px;
    border: 5px solid black;
    outline: 5px solid green;
}


.image-caption {
    color: black;
    font-size: 18px;
    line-height: 1.5;
}

.header {
    text-align: center;
    font-size: 65px;
    color: green;
}

.title {
    color: #88C4FF;
    font-family: 'PT Serif', serif;
    font-size:140px;
}
.slogan {
    font-family: "times new roman";
    color: #88C4FF;
    font-size:50px;
    
}
.heading {
    line-height: 50px;
}
#comment-div {
    margin-left:35%;
}
#comment-box-header {
    margin-top:50px;
    margin-left:35px;
}
h3 {
    font-family: "Lucida Sans Unicode", Lucida, sans-serif;
}

h2 {
    font-family: 'PT Serif', serif;
    color: #63676C;
    font-size:21px;
}

h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
ul{
    font-family: 'Pontano Sans', sans-serif;
}
h4{
    font-family: "Lucida Sans Unicode", Lucida, sans-serif;
    font-size: 13px; font-weight: bold; 
}

@media (max-width:966px) {

}